# emacs turds
(.*/)?\#[^/]*\#$

## Mac OS X
.DS_Store
__MACOSX

*.orig
*.bak

# ci
build
ci-reports

# rbenv
.ruby-version

# the xamarin build directory
xamarin

# Jetbrains
workspace.xml
find.xml
*.iml
.rakeTasks

# ruby
.irb-history
vendor
Gemfile.lock
*.gem
.env

# bundler
.bundle
.calabash-branch

# cucumber
rerun
reports
screenshots
*.png
*.html

# Xcode 4
*.xcodeproj/*.mode*
*.xcodeproj/*.perspective*
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
