# turds
(.*/)?\#[^/]*\#$

# tags

*.orig
*.bak

## Mac OS X
.DS_Store
__MACOSX

# rbenv
.ruby-version

# the xamarin build directory
xamarin

# Jetbrains
workspace.xml
find.xml
*.iml

# ruby 
.irb-history
vendor
Gemfile.lock
*.gem

# bundler
.bundle
.calabash-branch

# cucumber
rerun
reports
screenshots
*.png
*.html

# Xcode 4
*.xcodeproj/*.mode*
*.xcodeproj/*.perspective*
*.xcodeproj/*.pbxuser   
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
